<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title> Login | Teacher's Pet</title>

    </head>

    <body>
        
        <div class="center">
        <div class="logo-box">
            <img class="logo-img" src="{{ url_for('static', filename='logo.png') }}" alt="">
            <h1 class="site-title"> Teacher's Pet</h1>
            <h2 class="login-text">Makes your teaching life easy</h2>
        </div>
        </div>

        <div class="center">
            <div class="login-box">

                {% if message%}
                <div class="message">    
                    {{message}}
                </div>        
                {%endif%}

                <svg class="login-title-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g><g><path  d="M245.6,237.4c-6-44.2-32.3-81.1-70.2-99l-2.8-1.3l2.4-2c16.1-13.8,25.3-33.8,25.3-54.8c0-39.8-32.4-72.3-72.3-72.3c-39.8,0-72.3,32.4-72.3,72.3c0,21.1,9.2,41.1,25.3,54.8l2.4,2l-2.8,1.3c-37.9,17.8-64.1,54.8-70.2,99l-0.4,3.1v1.1c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5l-0.1-0.8l0.4-3c6.4-43,35.2-79.1,73.3-92l0.8-0.3l0.7,0.3c9.4,4.3,19.5,6.5,29.7,6.5c10.3,0,20.3-2.2,29.7-6.5l0.7-0.3l0.8,0.3c38.2,12.9,67,49,73.3,92l0.4,3l-0.1,0.8c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5v-1.1L245.6,237.4z M156.7,132c-5.1,2.8-10.5,4.8-16.1,6.1c-4.2,0.9-8.4,1.3-12.5,1.3c-4.1,0-8.4-0.5-12.5-1.3c-5.7-1.2-11.1-3.3-16.1-6.1c-18.9-10.5-30.7-30.4-30.7-51.9c0-32.7,26.6-59.3,59.3-59.3c32.7,0,59.3,26.6,59.3,59.3C187.4,101.7,175.6,121.6,156.7,132z"/></g></g>
                </svg>
                <h1 class="login-title">Welcome Back</h1>
                <h2 class="login-text">Sign in to your teacher account</h1>
                
                <form class="login-form" action="/login" method="POST">
                    <h3 class="form-title">Username</h3>
                    <input class="input1" autocomplete="off" autofocus name="username" placeholder="Please enter your username" type="text">
                    <h3 class="form-title">Password</h3>
                    <input class="input1" autocomplete="off" name="password" placeholder="Please enter your password" type="password">
                    <button class="login-button" type="submit">Log In</button>
                </form>

                <h3 id="sign-in-text">Don't have an account?  <a href="/register">Click here to register.</a></h3>
            </div>
        </div>
    </body>
</html>




